mixin room(chatRoom)
    div
        h4
            a(href=`chats/${chatRoom.id}`)=chatRoom.participants
            
        ul 
            li
                h5 #{chatRoom.lastChat}

            if (chatRoom.headCount === 1)
                li Private
                
            else
                li #{chatRoom.headCount + 1} Participants
            