doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
    
    body
        header
            block header
        nav
            ul
                li
                    a(href="/") home
                li
                    a(href="/login") Log in
                li
                    a(href="/join") Join
                li
                    a(href="/users") Friends
                li
                    a(href="/chats") chats
                li
                    a(href="/users/find") Find
                li
                    a(href="/users/more") More
                li
                    a(href="/users/settings") Settings
            
        main
            block main
        footer
            block footer