doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
    
    body
        header
            block header
        nav
            ul
                li
                    a(href="/") home
                li
                    a(href="/") Log in
                li
                    a(href="/") Join
                li
                    a(href="/users") Friends
                li
                    a(href="/chats") chats
                li
                    a(href="/") Find
                li
                    a(href="/") More
                li
                    a(href="/") Settings
            
        main
            block main
        footer
            block footer