doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
    
    body

        header
            block header

        main
            block main

        nav
            ul
                block navigationBar