doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
    
    body
        header
            block header
        nav
            ul
                block navBtnsBeforeLogin
                block navigationBar

            
        main
            block main
        footer
            block footer