doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    
    body
        include partials/statusbar

        main
            block main

        include partials/navigationbar