doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    
    body

        header
            block header

        main
            block main

        nav
            ul
                block navigationBar