extends base
include mixins/chatInfo

block main
    a(href="/chats/createchatroom") New chat
    
    ul 
        each chatRoom in chatRooms
            +room(chatRoom)
        else
            li no chats.