extends base
include mixins/chatInfo

block header 
    a(href="/chats/createchatroom") New chat

block main
    ul 
        each chatRoom in chatRooms
            +room(chatRoom)
        else
            li no chats.