extends base

block main 
    span This is Friends page.

block navigationBar
    li
        a(href="/chats") chats
    li
        a(href="/users/find") Find
    li
        a(href="/users/more") More
    li
        a(href="/users/settings") Settings
