doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | kakaotalk-clone
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    
    body
        include partials/statusbar

        div If status is "logged in" --> redirect to the "friends".
        div If status is "logged out" --> redirect to the "login".
        div User should not see this page.
        
        block main
        
        block footer