extends base

block header
    nav 
        ul
            li 
                a(href="/join") Join
            li
                a(href="/") home
            li 
                a(href="/login") Log in


block main
    form(method="POST")
        input(type="submit" value="Log in")