extends base

block header
    a(href="/join") Join

block navBtnsBeforeLogin 
    li
        a(href="/") home
    li
        a(href="/login") Log in
    li
        a(href="/users") Friends


block main
    span This is Log in page.