footer 
    nav
        li 
            a(href="/users") Friends
        li
            a(href="/chats") chats
        li
            a(href="/users/more") More
        li
            a(href="/users/settings") Settings